.bg {
    -fx-background-color: black;
}


.title {
    -fx-text-fill: white;
    -fx-font-size: 48px;
    -fx-font-weight: 900;
}

.subtitle {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-opacity: 0.9;
}

.primary-btn {
    -fx-pref-width: 320;
    -fx-pref-height: 52;
    -fx-background-radius: 26;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #173B77;
}
.primary-btn:hover {
    -fx-background-color: #1E4A94;
}

.input {
    -fx-pref-height: 36px;
    -fx-min-height: 36px;
    -fx-max-height: 36px;

    -fx-max-width: 420px;
    -fx-pref-width: 420px;

    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-font-size: 14px;
    -fx-padding: 0 10 0 10;
}

/* مرکز صفحه */
.page-center {
    -fx-padding: 30 24 30 24;
}

/* کارت جدول کورس ها */
.courses-card {
    -fx-background-color: rgba(125, 20, 60, 0.75); /* بورگاندی شیشه‌ای */
    -fx-background-radius: 28;
    -fx-padding: 16 0 10 0;
    -fx-min-width: 760;
    -fx-max-width: 860;
}

/* هدر جدول */
.courses-header {
    -fx-padding: 10 16 10 16;
}

.courses-header-text {
    -fx-text-fill: rgba(255,255,255,0.75);
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}

/* هر ردیف */
.course-row {
    -fx-background-color: rgba(125, 20, 60, 0.55);
    -fx-background-radius: 18;
}

/* اسم کورس */
.course-name {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

/* level مثل pill */
.course-pill {
    -fx-text-fill: white;
    -fx-padding: 6 12 6 12;
    -fx-background-color: rgba(0,0,0,0.20);
    -fx-background-radius: 999;
    -fx-border-color: rgba(255,255,255,0.25);
    -fx-border-radius: 999;
}

/* ساعت */
.course-hours {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
}

/* لینک ثبت نام */
.course-link {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.course-link:hover {
    -fx-text-fill: #ffd27a; /* طلایی */
}

.profile-text {
    -fx-text-fill: rgba(255,255,255,0.92);
    -fx-font-size: 18px;
    -fx-font-weight: 500;
}

.link {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-size: 14px;
}
.link:disabled {
    -fx-opacity: 0.8;
}

.notify-badge {
    -fx-background-color: rgba(125, 20, 60, 0.75); /* بورگاندی شیشه‌ای */
    -fx-background-radius: 28;
    -fx-padding: 10 16 10 16;

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;

    /* برای اینکه خواناتر بشه روی بک‌گراند */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.65), 10, 0.4, 0, 2);
}

